<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<variable name="log-root" value="/var/pitl/zero/zero-log-Staging" />
	<variable name="log-daily" value="${log-root}/${date:format=yyyy}/${date:format=yyyy-MM}/${shortdate}" />

	<!--要寫入的目標內容-->
	<targets>
		<!--將日誌寫入文件的具體位置-->
		<target name="allfile" xsi:type="File" encoding="utf-8"
				filename ="${log-daily}/${shortdate}[Debug][_all].log"
				archiveAboveSize="20480000"
				archiveNumbering="Sequence"
				archiveFileName="${log-daily}/Debug/${shortdate}[Debug][_all]-{####}.log"
				layout="[${time}][${logger}][${level}] - ${message} ${onexception:inner=${newline}${exception:format=ToString}}" />
	</targets>

	<!--將日誌程序名稱映射到目標的規則-->
	<rules>
		<!--記錄所有日誌，包括Microsoft級別-->
		<logger name ="*" minlevel="Information" writeTo="allfile"/>
	</rules>

</nlog>